/* 
    Created on : Jan 6, 2014, 11:30:38 PM
    Author     : Masud Afsar <masud.afsar@live.com>
*/

* {
    margin: 0;
    padding: 0;
}
.randbg {
 height:100%;
  min-height:100%;
background: url('../images/bg5-min.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg5-min.jpg', sizingMethod='scale')";

}
.randbg.bg1 {
background-image: url('../images/bg2-min.jpg');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg2-min.jpg', sizingMethod='scale')";

}
.randbg.bg2 {
background-image: url('../images/bg8-min.jpg');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg8-min.jpg', sizingMethod='scale')";

}
.randbg.bg3 {
background-image: url('../images/bg3-1-min.jpg');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg3-1-min.jpg', sizingMethod='scale')";

}
.randbg.bg4 {
background-image: url('../images/bg5-min.jpg');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg5-min.jpg', sizingMethod='scale')";

}
.randbg.bg5 {
background-image: url('../images/bg6-min.jpg');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg6-min.jpg', sizingMethod='scale')";

}
.randbg.bg6 {
background-image: url('../images/bg7-min.jpg');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg7-min.jpg', sizingMethod='scale')";

}
